/* ===== ТЕМИ ===== */
:root {
    --bg: #111;
    --text: #fff;
    --card: #1b1b1b;
    --border: #333;
    --accent: #4caf50;
}
.light {
    --bg: #eee;
    --text: #111;
    --card: #fff;
    --border: #bbb;
    --accent: #2a7cda;
}

body {
    background: var(--bg);
    color: var(--text);
    margin: 0;
    font-family: Arial, sans-serif;
}

/* ===== МЕНЮ ===== */

.topnav,
.subnav {
    display: flex;
    justify-content: space-around;
    background: var(--card);
    padding: 10px 0;
    border-bottom: 2px solid var(--border);
}

.nav-btn {
    font-size: 26px;
    opacity: 0.6;
    transition: 0.2s;
    cursor: pointer;
}
.nav-btn.active {
    opacity: 1;
    transform: scale(1.2);
    color: var(--accent);
}

/* ===== СТОРІНКИ ===== */
.page {
    display: none;
    padding: 20px;
}
.active-page {
    display: block;
}

.container {
    background: var(--card);
    padding: 20px;
    margin: 20px 0;
    border: 1px solid var(--border);
    border-radius: 10px;
}

/* ===== ТАБЛИЦЯ ===== */
.feed-table {
    width: 100%;
    border-collapse: collapse;
}

.feed-table th {
    background: var(--accent);
    padding: 8px;
}

.feed-table td {
    border: 1px solid var(--border);
    padding: 6px;
}

/* ===== СКЛАД ===== */
.w-cat {
    margin-bottom: 20px;
}

.w-row {
    display: flex;
    justify-content: space-between;
    padding: 6px;
    background: #0004;
    border-radius: 6px;
    margin-bottom: 4px;
}

.w-add input {
    width: 100px;
    margin-right: 4px;
}